<app-admin></app-admin>
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <br><br><br><br>
    <div class="container" style="padding-left: 50px;">
    
    <!-- routerLinkActive="myclass" -->
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mã Sản phẩm</th>
                <th scope="col">Tên Sản phẩm</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sp of sanpham">
                <td>{{sp._id}}</td>
                <td>{{sp.name}}</td>
                <td><img src="{{sp.image}}" alt="" style="max-width: 100px;"></td>
                <td>
                    <button class="btn btn-primary mr-2"><a href="#" [routerLink]="['/sanpham/', sp._id,'edit']" class="text-white">edit</a></button>
                    <button class="btn btn-danger" (click)="deleteSanpham(sp._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a style="margin-right: 10px; float: right;" href="#" class="btn btn-primary mb-3" routerLink="/sanpham/createsp">Thêm Sản phẩm</a>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>