<app-admin></app-admin>
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <br><br><br><br>
    <div class="container " style="margin-left:300px ;">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
              <th scope="col">STT</th>
              <th scope="col">Ngày Tạo</th>
              <th scope="col">Trạng Thái</th>
              <th scope="col">Sản Phẩm</th>
              <th scope="col">Tổng Tiền</th>
              <th scope="col">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let donHang of donHangs; let i = index">
                <td>{{donHang.id}}</td>
              <td>{{ i + 1 }}</td>
              <td>{{ donHang.ngayTao | date: 'dd/MM/yyyy' }}</td>
              <td>{{ donHang.trangThai }}</td>
              <td>
                <ul>
                  <li *ngFor="let sp of donHang.sanphams">
                    {{ sp.tensp }} - SL: {{ sp.soluong }} - Giá: {{ sp.giasp | currency: 'VND': 'symbol' }}
                  </li>
                </ul>
              </td>
              <td>{{ donHang.tongTien | currency: 'VND': '' }} VND</td>
              <td style="width: 170px;">
                <button class="btn btn-primary" style="margin:5px ;"  [routerLink]="['/donhang/', donHang.id,'index']">chi tiết</button>
                <button class="btn btn-danger" (click)="xoaDonHang(i)">Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>